@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

$title-color: #252B42;
$secondary-color:  #737373;
$white-color: #FFF;
$bg-color: #FAFAFA;
$accent-bg: #FFA62B;
$main-bg: #00A0C1;
$footer-bg: #16697A;

$font-main: 'Montserrat', sans-serif;

$mobile: 416px;